NODE_ENV=development
TYPEORM_USE_CLI=false
PORT_LISTEN=3003
STATIC_DIRNAME=public
UPLOAD_MAX_FILE_SIZE=10485760 # 10MB

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

JWT_SECRET_AUTH=HrjMqWR436p9pXbrCFduDASTUwjtuzdN
JWT_EXPIRE_AUTH=24h
JWT_SECRET_PWD_RESET=HgCY6mmq76fGv86tbjzK5f9jrUgqynen
JWT_EXPIRE_PWD_RESET=24h
