<h1>hello there {{user.name}} {{user.firstname}}</h1>
<p> Une personne a demandé une réinitialisation de votre votre de passe </br>
si il s'agit bien de vous, il vous suffit de cliquer sur le lien ci dessous</br>
<p>{{token}}</p>
<p>dans le cas contraire vous pouvez sans risque ignorer et supprimer cet email</p>

<p>Cordialement</p>
<footer>signature</footer>